<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".TestReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 插件配置元数据 -->
        <meta-data
            android:name="plugin.id"
            android:value="example_screen" />
        <meta-data
            android:name="plugin.version"
            android:value="1.0.1" />
        <meta-data
            android:name="plugin.description"
            android:value="这是一个示例插件，支持中文。" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="com.jctech.plugin.sample.screen.PluginEntryClass" />
    </application>
</manifest>